<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488159661810-oclr4m6744vk9s36sfopm4c8nejtk2nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488159661810-oclr4m6744vk9s36sfopm4c8nejtk2nt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488159661810-j588ec358dd2f62n3sc7o7p6dmhncugm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3TCYgvL2uFzSzz8ZI2LzIueSJqRu6UuI</string>
	<key>GCM_SENDER_ID</key>
	<string>488159661810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devbatch.Doctoor</string>
	<key>PROJECT_ID</key>
	<string>Doctoor-1562215174704</string>
	<key>STORAGE_BUCKET</key>
	<string>Doctoor-1562215174704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:488159661810:ios:f0c968e2b99ec8285a8a6b</string>
	<key>DATABASE_URL</key>
	<string>https://home-medics-1562215174704.firebaseio.com</string>
</dict>
</plist>
